<div class="container mt-4">
    <p class="text-danger mt-2 fw-bold fs-3">LISTA DE ALUNOS FORMADOS</p>
  
    <div class="p-2">
      <table class="table table-bordered tabela-vermelha">
        <thead>
          <tr>
            <th>#</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Nome do Curso</th>
            <th class="text-center">Ano de Ingresso</th>
            <th class="text-center">Ano de Formatura</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of alunosPaginados; let i = index">
            <td>{{ (paginaAtual - 1) * alunosPorPagina + i + 1 }}</td>
            <td>{{ aluno.nome }}</td>
            <td>{{ aluno.nomeCurso }}</td>
            <td>{{ aluno.anoIngresso }}</td>
            <td>{{ aluno.anoFormatura }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Paginação -->
    <div class="d-flex justify-content-center mt-3">
      <button class="btn btn-light me-2" [disabled]="paginaAtual === 1" (click)="alterarPagina(-1)">
        Anterior
      </button>
      <button class="btn btn-light" [disabled]="paginaAtual === totalPaginas" (click)="alterarPagina(1)">
        Próximo
      </button>
    </div>
  </div><br>
  