.tabela-vermelha {
    background-color: rgb(212, 54, 54);
    color: white;
}

.tabela-vermelha th,
.tabela-vermelha td {
    background-color: rgb(212, 54, 54);
    /* Fundo vermelho */
    color: white;
    /* Texto branco */
}