<div class="container mt-4">
    <p class="text-danger mt-2 fw-bold fs-3">FORMULÁRIO RESERVA DE SALA</p>

    <form class="p-4 tabela-vermelha" #formRegister="ngForm">

        <div class="mb-3 form-group">
            <label for="nome" class="form-label text-white"><span class="text-warning"> *</span> Nome do
                Solicitante</label>
            <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite seu nome completo"
                #nome="ngModel" minlength="1" maxlength="60" [(ngModel)]="reserva.nome" required />
            <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
                <div [hidden]="!nome.errors?.['required']">
                    Digite Seu Nome
                </div>
            </div>
        </div>

        <div class="mb-3 form-group">
            <label for="email" class="form-label text-white"><span class="text-warning"> *</span> E-mail</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="exemplo@email.com"
                [formControl]="emailFormControl" [(ngModel)]="reserva.email" required />
            <div *ngIf="emailFormControl.errors && (emailFormControl.dirty || emailFormControl.touched)"
                class="alert alert-danger">
                <div *ngIf="emailFormControl.errors['required']">
                    Digite seu email
                </div>
                <div *ngIf="emailFormControl.errors['invalidEmail']">
                    Entre com um email válido (example&#64;email.com)
                </div>
            </div>
        </div>

        <div class="row mb-3">

            <div class="col-md-6 form-group">
                <label for="telefone" class="form-label text-white"><span class="text-warning"> *</span>
                    Telefone</label>
                <input type="text" id="telefone" name="telefone" class="form-control" placeholder="(00)00000-0000"
                    #telefone="ngModel" mask="(00)00000-0000" [(ngModel)]="reserva.telefone" required />
                <div *ngIf="telefone.errors && (telefone.dirty || telefone.touched)" class="alert alert-danger">
                    <div [hidden]="!telefone.errors?.['required']">
                        Digite Seu Telefone
                    </div>
                </div>
            </div>

            <div class="col-md-6 form-group">
                <label for="departamento" class="form-label text-white">
                    <span class="text-warning"> *</span> Departamento
                </label>
                <select id="departamento" class="form-select" #departamento="ngModel" [(ngModel)]="reserva.departamento"
                    name="departamento" required>
                    <option value="" disabled selected>Selecione um departamento</option>
                    <option value="DINF">DINF - Departamento de Informática</option>
                    <option value="BIOINFO">BIOINFO - Departamento de Bioinformática</option>
                </select>

            </div>
        </div>

        <div class="mb-3 row">

            <div class="col form-group">
                <label for="numero" class="form-label text-white"><span class="text-warning"> *</span> Número da
                    Sala (apenas números)</label>
                <input type="text" id="numero" name="numero" class="form-control" placeholder="Digite o número da sala"
                    #numero="ngModel" mask="000" [(ngModel)]="reserva.numero" required />
                <div *ngIf="numero.errors && (numero.dirty || numero.touched)" class="alert alert-danger">
                    <div [hidden]="!numero.errors?.['required']">
                        Digite o número da sala
                    </div>
                </div>
            </div>

            <div class="col form-group">
                <label for="dataReserva" class="form-label text-white"><span class="text-warning"> *</span> Data da
                    Reserva</label>
                <input type="date" id="dataReserva" name="dataReserva" class="form-control" [(ngModel)]="reserva.data"
                    #dataReserva="ngModel" required />
                <div *ngIf="dataReserva.errors && (dataReserva.dirty || dataReserva.touched)"
                    class="alert alert-danger">
                    <div [hidden]="!dataReserva.errors?.['required']">
                        Selecione a data da reserva
                    </div>
                </div>
            </div>

        </div>

        <div class="mb-3 row">

            <div class="col form-group">
                <label for="horarioInicio" class="form-label text-white"><span class="text-warning"> *</span> Horário
                    Início</label>
                <input type="text" id="horarioInicio" name="horarioInicio" class="form-control" mask="00:00"
                    #horarioInicio="ngModel" placeholder="00:00" [(ngModel)]="reserva.inicio" required />
                <div *ngIf="horarioInicio.errors && (horarioInicio.dirty || horarioInicio.touched)"
                    class="alert alert-danger">
                    <div [hidden]="!horarioInicio.errors?.['required']">
                        Digite o horário de início
                    </div>
                </div>
            </div>

            <div class="col form-group">
                <label for="horarioTermino" class="form-label text-white"><span class="text-warning"> *</span> Horário
                    Término</label>
                <input type="text" id="horarioTermino" name="horarioTermino" class="form-control" mask="00:00"
                    #horarioTermino="ngModel" placeholder="00:00" [(ngModel)]="reserva.fim" required />
                <div *ngIf="horarioTermino.errors && (horarioTermino.dirty || horarioTermino.touched)"
                    class="alert alert-danger">
                    <div [hidden]="!horarioTermino.errors?.['required']">
                        Digite o horário de término
                    </div>
                </div>
            </div>

        </div>

        <div class="mb-3 row">

            <div class="col form-group">
                <label for="quantidadeParticipantes" class="form-label text-white"><span class="text-warning"> *</span>
                    Quantidade de Participantes (apenas números)</label>
                <input type="text" id="quantidadeParticipantes" name="quantidadeParticipantes" class="form-control"
                    #quantidadeParticipantes="ngModel" placeholder="Número de participantes" mask="0000"
                    [(ngModel)]="reserva.participantes" required />
                <div *ngIf="quantidadeParticipantes.errors && (quantidadeParticipantes.dirty || quantidadeParticipantes.touched)"
                    class="alert alert-danger">
                    <div [hidden]="!quantidadeParticipantes.errors?.['required']">
                        Digite a quantidade de pessoas
                    </div>
                </div>
            </div>

            <div class="col form-group">
                <label for="tipoEvento" class="form-label text-white">
                    <span class="text-warning"> *</span> Tipo de Evento
                </label>
                <select id="tipoEvento" class="form-select" [(ngModel)]="reserva.evento" name="tipoEvento" required>
                    <option value="" disabled selected>Selecione o tipo de evento</option>
                    <option value="Palestra">Palestra</option>
                    <option value="Aula">Aula</option>
                    <option value="Reunião">Reunião</option>
                    <option value="Confraternização">Confraternização</option>
                </select>
            </div>
        </div>

        <div class="mb-3 form-group">
            <label class="form-label text-white">
                <span class="text-warning"> *</span> Equipamentos Necessários
            </label>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="equipamentoProjetor" value="Projetor"
                    (change)="onEquipamentoChange($event)" [checked]="reserva.equipamentos.includes('Projetor')" />
                <label class="form-check-label text-white" for="equipamentoProjetor">Projetor</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="equipamentoControleAr" value="Controle de Ar"
                    (change)="onEquipamentoChange($event)"
                    [checked]="reserva.equipamentos.includes('Controle de Ar')" />
                <label class="form-check-label text-white" for="equipamentoControleAr">Controle de Ar</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="equipamentoMicrofone" value="Microfone"
                    (change)="onEquipamentoChange($event)" [checked]="reserva.equipamentos.includes('Microfone')" />
                <label class="form-check-label text-white" for="equipamentoMicrofone">Microfone</label>
            </div>
        </div>


        <div class="mb-3 form-group">
            <label for="conf" class="form-label text-white">
                <span class="text-warning"> *</span> Configuração da sala
            </label>
            <select id="conf" class="form-select" [(ngModel)]="reserva.configuracao" name="confi" required>
                <option value="" disabled selected>Selecione a configuração da sala</option>
                <option value="Auditório">Auditório</option>
                <option value="Reunião">Reunião</option>
                <option value="Formato U">Formato "U"</option>
                <option value="Mesa Redonda">Mesa Redonda</option>
                <option value="Outro">Outro...</option>
            </select>
        </div><br>

        <div class="mb-3 form-group">
            <label class="form-label text-white">
                <span class="text-warning"> *</span> Necessidade de Suporte Técnico
            </label>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="suporteSim" name="necessidadeSuporte" value="Sim"
                    [(ngModel)]="reserva.suporte" />
                <label class="form-check-label text-white" for="suporteSim">Sim</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="suporteNao" name="necessidadeSuporte" value="Não"
                    [(ngModel)]="reserva.suporte" />
                <label class="form-check-label text-white" for="suporteNao">Não</label>
            </div>
        </div>
        <br>

        <div class="mb-3 form-group">
            <label class="form-label text-white">
                <span class="text-warning"> *</span> Necessita intérprete de libras
            </label>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="interpreteSim" name="necessidadeInterprete" value="Sim"
                    [(ngModel)]="reserva.libras" />
                <label class="form-check-label text-white" for="interpreteSim">Sim</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="interpreteNao" name="necessidadeInterprete" value="Não"
                    [(ngModel)]="reserva.libras" />
                <label class="form-check-label text-white" for="interpreteNao">Não</label>
            </div>
        </div>


        <div class="mb-3 form-group">
            <label for="infoAdicional" class="form-label text-white"> <span class="text-warning"> * </span>Observações
                Adicionais</label>
            <input type="text" id="infoAdicional" name="infoAdicional" class="form-control" #infoAdicional="ngModel"
                placeholder="Observações Adicionais" [(ngModel)]="reserva.info" required />
        </div>

        <div class="d-flex justify-content-end mt-4">
            <button type="submit" class="btn btn-warning fw-bold" (click)="register()"
                >Enviar</button>
        </div>
    </form><br>
</div>