.navbar-brand.nav-link.ms-2:hover {
    color: #f8f9fa;
    /* Cor do texto ao passar o mouse, igual ao Bootstrap */
    text-decoration: underline;
    /* Opcional: sublinha o link */
}

.dropdown-menu a:hover {
    background-color: #c0aa3c;
    /* Cor de fundo suave */
    color: #fff;
    /* Cor do texto para contraste */
    transition: background-color 0.3s, color 0.3s;
    /* Transição suave */
}

/* Aumenta o tamanho da fonte de todos os itens da navbar */
.navbar-nav .nav-link {
    font-size: 18px; /* Ajuste o tamanho conforme necessário */
}