<br><br>
<div class="container vh-100 d-flex flex-column justify-content-between">
    <!-- Primeiro Bloco -->
    <div class="row">
        <!-- Primeira Coluna (Título e Texto) -->
        <div class="col-md-6">
            <!-- Título em branco sobre retângulo vermelho -->
            <div class="bg-danger text-white p-2">
                <h2 class="mb-0">PÓS-GRADUAÇÃO</h2>
            </div>
            <!-- Texto em vermelho abaixo do título -->
            <p class="text-danger mt-2 fw-bold fs-3">BIOINFORMÁTICA</p>
        </div>
        <!-- Segunda Coluna (Imagem) -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="assets/imagens/image.png" alt="Imagem exemplo" class="img-fluid">
        </div>
    </div>

    <!-- Segundo Bloco -->
    <div class="row mt-4">
        <!-- Título -->
        <p class="text-danger fw-bold fs-3">APRESENTAÇÃO</p>
        <!-- Parágrafo -->
        <p>A confluência entre capacidade de geração de dados e poder computacional sem precedentes tem gerado demanda
            por sofisticadas abordagens computacionais, bem como por uma nova geração de cientistas interdisciplinares
            capazes de lidar com o crescente acúmulo de informações nos mais variados campos da medicina, agronomia,
            indústria farmacêutica, entre outros. Com a redução do custo da geração de dados, um dos desafios é formar
            profissionais que efetivamente consigam entender e analisar estes dados. Existe uma grande demanda por
            experts treinados em biologia molecular e computação, e o Programa de Pós-graduação em Bioinformática da
            Universidade Federal do Paraná (UFPR) foi criado em 2009 para atender esta demanda. O programa oferece
            formação de mestrado para alunos interessados em seguir carreira em ciência e tecnologia, e muito em breve
            será ampliado para oferecer doutorado.</p>
    </div>

    <!-- Terceiro Bloco -->
    <div class="row mt-4">
        <!-- Título -->
        <p class="text-danger fw-bold fs-3">OPORTUNIDADE DE TREINAMENTO</p>
        <!-- Parágrafo -->
        <p>O Programa de Pós-graduação em Bioinformática da UFPR enfatiza a natureza interdisciplinar da bioinformática
            e tem produzido diversas oportunidades de treinamento para profissionais das áreas de computação, biologia,
            estatística e demais áreas afins. O programa está desenhado para dar aos estudantes fundamentação teórica e
            prática em (1) biologia estrutural e funcional, (2) biologia computacional, e (3) inteligência artificial e
            mineração de dados.
        </p>
    </div>

    <!-- quarto bloco -->
    <div class="row mt-4">
        <!-- Título -->
        <p class="text-danger fw-bold fs-3">ADMINISTRAÇÃO</p>
        <!-- Parágrafo -->
        <p>Profa. Dra. Jeroniza Nunes Marchaukoski <br>
            Coordenadora <br><br>

            Prof Dr Leonardo Magalhães Cruz <br>
            Vice-coordenador <br><br>

            Suzana Gobetti <br>
            Secretária <br> <br>
        </p>
    </div>
</div>